a#github {
    display: block;
}

@media screen and (min-width:800px) {
    a#github {
        width: 149px;
        height: 149px;
        background-image: url('https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png');
        position: absolute;
        top: 0;
        right: 0;
        border: 0;
        text-indent: -9999px;
    }
}